@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  background-image: url(./images/pexels-bongkarn-thanyakij-3751600\ \(1\).jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.App {
  display: flex;
  height: 100%;
  width: 100%;
}

.navigationBar {
  position: fixed;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}

.websiteName {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.6rem;
  font-weight: lighter;
  color: white;
  text-decoration: none;
}


.main {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  margin-left: 20%;
}

.button {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5rem;
  color: white;
  display: block;
  margin-top: 50px;
  text-decoration: none;
}

.taskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  background-color: white;
  font-family: 'Architects Daughter', cursive;
  opacity: 70%;
  border-radius: 10px;
  width: 100%;
  max-width: 40vw;
  min-width: 30vw;
  padding: 2px;
}

.taskList {
  display: flex-inline;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin: 1px;
}

.editFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Architects Daughter', cursive;
  font-size: 2rem;
  color: white;
  margin-top: 40%;
}

.editTaskCategory {
  font-family: 'Architects Daughter', cursive;
  font-size: 2rem;
  color: white;
}

.editSelectBar {
  width: 20vw;
  height: 2rem;
  border-radius: 10px;
}

.editSubmitButton {
  width: 20vw;
  height: 3rem;
  border-radius: 10px;
}


