@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  background-image: url(./images/pexels-bongkarn-thanyakij-3751600\ \(1\).jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.App {
  height: 100%;
  width: 100%;
}

.navigationBar {
  position: fixed;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}

.websiteName {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.6rem;
  font-weight: lighter;
  color: white;
  text-decoration: none;
}


.main {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.button {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5rem;
  color: white;
  display: block;
  margin-top: 50px;
  text-decoration: none;
}

.taskContainer {

  background-color: white;
  font-family: 'Architects Daughter', cursive;
  opacity: 70%;
  border-radius: 10px;
  width: 70%
}

.taskList {
  display: flex;
  justify-content: center;
  align-items: center;
}
