@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.App {
  background-image: url(./images/pexels-bongkarn-thanyakij-3751600\ \(1\).jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  text-align: center;
  height: 100%;
}

.navigationBar {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
  height: 100vh;
}

.websiteName {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}


.main {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 100vh;
}

.button {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5rem;
  color: white;
  display: block;
  margin-top: 50px;
  text-decoration: none;
}

.taskContainer {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
}
