.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Architects Daughter", cursive;
  font-size: 2rem;
  width: 90%;
}

.formContainer {
  margin-right: 43%;
  margin-top: 5%
}

.categorySelector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selector {
  display: block;
  justify-content: center;
  border-radius: 10px;
  margin: 5%;
  height: 2rem;
  width: 20vw;
  font: 2rem;
}

input {
  justify-content: center;
  margin: 7%;
  height: 3rem;
  width: 20vw;
  font: 2rem;
  border-radius: 10px;
}

button {
  justify-content: center;
  margin: 1%;
  height: 10%;
  width: 80%;
  font: 2rem;
  border-radius: 10px;
}

.editButton {
  display: flex;
  justify-content: center;
  margin: 1%;
  height: 10%;
  width: 100%;
  font: 2rem;
  border-radius: 10px;
  text-decoration: none;
}
